extends layout

block content
  hi= title
  
  ul
  each author in author_list
    li
      a(href=author.url) #{author.name}
      | (#{author.fomatted_date_of_birth} - #{author.formatted_date_of_death})

  else
    li There are no authors